<div #application>
    <iui-treeview [(items)]="items" [appRef]="applicationRef" #treeview>
        <template let-item>
            <div (mouseenter)="hoverItem=item" (mouseleave)="hoverItem=null" (click)="itemClick(item)">
                <span [ngClass]="item.icon"></span>
                <span *ngIf="item!=editItem">{{item.text}}</span>
                <span *ngIf="item!=editItem && item.size > 0">Size {{item.size}} bytes</span>
                <input *ngIf="item==editItem" type="text" [(ngModel)]="item.text" (keydown)="editorKeyDown($event)" (blur)="editorLostFocus()" [iuiFocus]="editorFocused" onFocus="this.setSelectionRange(0, this.value.length)"/>
                <div class="toolbar" *ngIf="item==hoverItem">
                    <span *ngIf="canChange(item)" class="item-button item-button-delete" (click)="deleteItem(item)"></span>
                    <span *ngIf="canChange(item)" class="item-button item-button-edit" (click)="showEditor(item)"></span>
                    <span *ngIf="canChange(item)" class="item-button item-button-copy" (click)="copyItem(item)"></span>
                    <span *ngIf="canCreateSubfolder(item)" class="item-button item-button-subfolder" (click)="createSubfolder(item)"></span>
                    <span *ngIf="canDownload(item)" class="item-button item-button-download" (click)="downloadFile(item)"></span>
                    <span *ngIf="canUpload(item)" class="item-button item-button-upload" (click)="uploadFile(item)"></span>
                </div>
            </div>
        </template>
    </iui-treeview>
</div>