.iui-treeview {
    width: 100%;
    height: 800px;
}

.computer-icons {
    background-image: url('../../../../wwwroot/computer.png');
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 2px 0 0;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.empty {
    background-position: 0px 0px;
}

.folder {
    background-position: -24px 0px;
}

.downloads {
    background-position: -48px 0px;
}

.favorites {
    background-position: -72px 0px;
}

.documents {
    background-position: -96px 0px;
}

.pc {
    background-position: -120px 0px;
}

.videos {
    background-position: -144px 0px;
}

.music {
    background-position: -168px 0p;
}

.network {
    background-position: -192px 0px;
}

.recycle {
    background-position: -216px 0px;
}

.pictures {
    background-position: -240px 0px;
}

.empty-doc {
    background-position: -264px 0px;
}

.disk {
    background-position: -288px 0px;
}

.toolbar {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 7px;
    padding-left: 5px;
}

.item-button {
    background-image: url('../../../../wwwroot/icons.png');
    background-repeat: no-repeat;
    display: inline-block;
    float: right;
    height: 16px;
    margin: 3px 4px 0 4px;
    opacity: 0.5;
    overflow: hidden;
    padding: 0;
    width: 16px;
}

    .item-button:hover {
        opacity: 1;
    }

.item-button-edit {
    background-position: -128px -81px;
}

.item-button-delete {
    background-position: -240px -96px;
}

.item-button-copy {
    background-position: -16px -48px;
}

.item-button-download {
    background-position: -112px 0px;
}

.item-button-upload {
    background-position: -128px 0px;
}

.item-button-subfolder {
    background-position: -192px -32px;
}
